<ion-content>
  <ion-list lines="inset">
    <ion-list-header>
      <ion-back-button mode="md" [routerLink]="'../main'"></ion-back-button>
      <ion-text>Setting</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Navigator</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Personal Data</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>GST</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Proof Of Address (POA)</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Transport Type</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>References</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>E-mail</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Bank Details</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="tennisball-outline"></ion-icon>
      <ion-label>Change Region</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="tennisball-outline"></ion-icon>
      <ion-label>Change Language</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
