<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title" size="large">Welcome Back</ion-title>
    <p class="subtitle">Sign in to access your account</p>
  </div>

  <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm)">
    <ion-item lines="none" class="ion-padding">
      <ion-input
        placeholder="email"
        class="input"
        [(ngModel)]="loginData.email"
        name="email"
        #email="ngModel"
        required
      ></ion-input>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
    <ion-text
      class="errorInput"
      color="danger"
      *ngIf="email.errors?.['required']"
    >
      email is required.
    </ion-text>
    <ion-item lines="none" class="ion-padding">
      <ion-input
        type="password"
        placeholder="Password"
        class="input"
        [(ngModel)]="loginData.password"
        name="password"
        #password="ngModel"
        required
      ></ion-input>
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>
    <ion-text
      class="errorInput"
      color="danger"
      *ngIf="password.errors?.['required']"
    >
      Password is required.
    </ion-text>

    <div class="error-container ion-padding-top">
      <ion-text class="errorInput" color="danger" *ngIf="errMsg">
        {{errMsg}}
      </ion-text>
    </div>

    <div class="signup-link ion-padding">
      <p>
        New member?
        <a [routerLink]="['/signin']" style="color: #ffc33f">Sign Up now</a>
      </p>
    </div>

    <ion-button [disabled]="loginForm.invalid" type="submit">
      Log In
    </ion-button>
  </form>
</ion-content>
