<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs (ionTabsDidChange)="handleTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="order">
      <ion-icon
        [name]="selected === 'order' ? 'cart' : 'cart-outline'"
      ></ion-icon>
      orders
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon
        [name]="selected === 'profile' ? 'happy' : 'happy-outline'"
      ></ion-icon>
      profile
    </ion-tab-button>
    <ion-tab-button tab="support">
      <ion-icon
        [name]="selected === 'support' ? 'chatbubble-ellipses' : 'chatbubble-ellipses-outline'"
      ></ion-icon>
      support
    </ion-tab-button>
    <ion-tab-button>
      <ion-toggle mode="md"></ion-toggle>
      <span class="status">status</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
