<ion-header>
  <ion-toolbar>
    <ion-title class="ion-padding-start">Personal Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <form>
    <ion-item>
      <ion-input
        label="First Name"
        label-placement="floating"
        placeholder="First Name"
        name="firstName"
        [(ngModel)]="firstName"
      ></ion-input>
      <ion-input
        label="Last Name"
        labelPlacement="floating"
        placeholder="Enter Last Name"
        name="lastName"
        [(ngModel)]="lastName"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        label="Mobile No."
        label-placement="floating"
        placeholder="mobile No."
        name="mobile"
        [(ngModel)]="personalData.mobileNumber"
      ></ion-input>

      <ion-input
        type="date"
        label="Date of birth"
        labelPlacement="floating"
        name="dob"
        [(ngModel)]="personalData.dateOfBirth"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Email"
        label-placement="floating"
        placeholder="Enter your email"
        name="email"
        [(ngModel)]="personalData.emailId"
      ></ion-input>
      <ion-input
        label="Password"
        label-placement="floating"
        placeholder="Enter your password"
        name="password"
        [(ngModel)]="personalData.password"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        label="Aadhar Card No"
        label-placement="floating"
        placeholder="Enter your Aadhar Card No."
        name="aadharNo"
        [(ngModel)]="aadharNo"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        label="Address"
        labelPlacement="floating"
        fill="outline"
        placeholder="Enter your Address"
        name="address"
        [(ngModel)]="address"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input
        *ngIf="selectedElement !== 'state'"
        label="State"
        label-placement="floating"
        placeholder="Enter your State"
        name="state"
        (click)="handleFocus('state')"
        [(ngModel)]="state"
      ></ion-input>
      <ion-item *ngIf="selectedElement === 'state'">
        <div class="states">
          <ion-searchbar
            [debounce]="100"
            (ionInput)="handleSearch($event, 'state')"
          ></ion-searchbar>
          <div>
            <ion-list *ngFor="let data of states">
              <ion-item
                [id]="data.id"
                (click)="
                  handleSelectStates({
                    el: 'state',
                    id: data.id,
                    name: data.name
                  })
                "
              >
                <ion-label>{{ data.name }}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-item>
      <ion-input
        *ngIf="selectedElement !== 'city'"
        label="City"
        label-placement="floating"
        placeholder="City"
        name="city"
        (click)="handleFocus('city')"
        [(ngModel)]="city"
      ></ion-input>
      <ion-item *ngIf="selectedElement === 'city'">
        <div class="cities">
          <ion-searchbar
            [debounce]="100"
            (ionInput)="handleSearch($event, 'city')"
          ></ion-searchbar>
          <div class="list ion-content-scroll-host">
            <ion-list *ngFor="let data of cities">
              <ion-item
                [id]="data.id"
                (click)="
                  handleSelectStates({
                    el: 'city',
                    id: data.id,
                    name: data.name
                  })
                "
              >
                <ion-label>{{ data.name }}</ion-label>
              </ion-item>
            </ion-list>
            <ion-infinite-scroll
              [threshold]="0"
              (ionInfinite)="handleInfinite($event)"
            >
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </div>
        </div>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        label="Pincode"
        label-placement="floating"
        placeholder="Enter your Pincode"
        name="pincode"
        [(ngModel)]="personalData.userPincode"
      ></ion-input>
      <ion-input
        label="Country"
        label-placement="floating"
        placeholder="Enter your Country"
        name="country"
        [(ngModel)]="country"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        name="nomineeName"
        labelPlacement="floating"
        label="Nominee Name"
        [(ngModel)]="personalData.nomineeName"
      />
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        name="Nominee Relation"
        labelPlacement="floating"
        label="Nominee Relation"
        [(ngModel)]="personalData.nomineeRelation"
      />
      <ion-input
        type="date"
        label="Nominee Date of birth"
        labelPlacement="floating"
        name="dob"
        [(ngModel)]="personalData.nomineeDateOfBirth"
      />
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        name="campaign"
        labelPlacement="floating"
        label="Campaign"
        [(ngModel)]="personalData.utmCampaign"
      />
      <ion-input
        type="text"
        name="Medium"
        labelPlacement="floating"
        label="Medium"
        [(ngModel)]="personalData.utmMedium"
      />
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        name="source"
        labelPlacement="floating"
        label="Source"
        [(ngModel)]="personalData.utmSource"
      />
    </ion-item>

    <ion-item lines="none" class="action">
      <ion-button slot="end" (click)="handleRetake()">Reset</ion-button>
      <ion-button slot="end" type="button" (click)="handlePersonalInfo()"
        >Next</ion-button
      >
    </ion-item>
  </form>
</ion-content>
