<ion-header>
  <ion-toolbar>
    <ion-title class="ion-padding-start">Personal Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <form>
    <ion-item>
      <ion-input
        label="First Name"
        label-placement="floating"
        placeholder="First Name"
        name="firstName"
        [(ngModel)]="personalData.firstName"
      ></ion-input>
      <ion-input
        label="Last Name"
        labelPlacement="floating"
        placeholder="Enter Last Name"
        name="lastName"
        [(ngModel)]="personalData.lastName"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        label="Mobile No."
        label-placement="floating"
        placeholder="mobile No."
        name="mobile"
        [(ngModel)]="personalData.mobile"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Email"
        label-placement="floating"
        placeholder="Enter your email"
        name="email"
        [(ngModel)]="personalData.email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        label="Aadhar Card No"
        label-placement="floating"
        placeholder="Enter your Aadhar Card No."
        name="aadharNo"
        [(ngModel)]="personalData.aadharNo"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        label="Address"
        labelPlacement="floating"
        fill="outline"
        placeholder="Enter your Address"
        name="address"
        [(ngModel)]="personalData.address"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        label="Pincode"
        label-placement="floating"
        placeholder="Enter your Pincode"
        name="pincode"
        [(ngModel)]="personalData.pinCode"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="State"
        label-placement="floating"
        placeholder="Enter your State"
        name="state"
        [(ngModel)]="personalData.state"
      ></ion-input>
      <ion-input
        label="Country"
        label-placement="floating"
        placeholder="Enter your Country"
        name="country"
        [(ngModel)]="personalData.country"
      ></ion-input>
    </ion-item>
    <ion-item lines="none" class="action">
      <ion-button slot="end" (click)="handleRetake()">Reset</ion-button>
      <ion-button slot="end" type="button" (click)="handlePersonalInfo()"
        >Next</ion-button
      >
    </ion-item>
  </form>
</ion-content>
