.main {
  height: 25vh;
  width: 100%;
  background-color: #000;

  .header {
    height: 100%;
    width: 100%;
    position: relative;

    .poster {
      height: 100%;
      width: 100%;
    }

    .header-nav {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      
      .back-btn {
        color: #fff;
      }

      div {
        display: flex;

        ion-avatar {
          height: 3rem;
          width: 3rem;

          img {
            height: 100%;
            width: 100%;
          }
        }
        #heading {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 0.5rem;

          .heading {
            color: #fff;
            font-weight: bold;
          }
          .sub-heading {
            color: rgb(207, 207, 207);
          }
        }
      }
      ion-button {
        .setting-btn {
          color: #fff;
          font-size: 1.4rem;
        }
      }
    }

    .header-footer {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      color: #fff;
      text-align: end;

      h1 {
        font-size: 2.8rem;
        .rupee-icon {
          font-size: 1.4rem;
        }

        .mg {
          font-size: 1.4rem;
        }

        .p1 {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

ion-content {
  height: 100vh;
  --background: #000;

  .content {
    padding: 1rem;
    background-color: #000;
    width: 100%;
    padding-bottom: 10rem;

    ion-card {
      width: fit-content;
      --background: #302e2e75;
      padding: 1rem;
      border-radius: 1rem;
      margin-bottom: 1rem;

      ion-card-title,
      ion-card-subtitle {
        color: #fff;
        margin-bottom: 0.5rem;
      }
      ion-card-content {
        padding: 0;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        color: #fff;
      }
    }
  }
  .actions {
    background-color: #000;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: .5rem;

    ion-button {
      --background-color: '#7EA1FF';
      --color: #000;
      font-weight: bold;
    }
  }
}
