<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Orders</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="settings-outline" size="large"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="notifications-outline" size="large"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="help-circle-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="profile-card">
    <ion-avatar>
      <img src="https://avatars.githubusercontent.com/u/78205495?v=4" alt="" />
    </ion-avatar>

    <div class="ratings">
      <ion-text>Ketan Ambraskar</ion-text>
      <div>
        <ion-icon name="star"></ion-icon>
        <span>4.0</span>
        <ion-icon name="help-circle-outline"></ion-icon>
      </div>
    </div>
  </div>

  <div class="up-btn">
    <ion-button>
      <ion-icon name="camera-outline"></ion-icon>
      <p>Selfie</p>
    </ion-button>
    <ion-button>
      <ion-icon name="gift-outline"></ion-icon><br />
      <p>Bonus & Rewards</p>
    </ion-button>
  </div>

  <div class="down-btn align">
    <ion-button>
      <ion-icon name="id-card-outline"></ion-icon>
      <p>ID</p>
    </ion-button>
    <ion-button>
      <ion-icon name="wallet-outline"></ion-icon>
      <p>Wallets</p>
    </ion-button>
    <ion-button>
      <ion-icon name="stats-chart-outline"></ion-icon>
      <p>Statistics</p>
    </ion-button>
  </div>

  <ion-card class="align">
    <ion-card-header>
      <div class="flex">
        <ion-card-title>Today</ion-card-title>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <ion-card-subtitle>earnings</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h1>$ 0</h1>
      <span>points</span>
      <h1><ion-icon name="star-half-outline"></ion-icon> 0</h1>
    </ion-card-content>
  </ion-card>

  <ion-item lines="none" class="list">
    <ion-label>Completed orders</ion-label>
    <ion-text slot="end">0</ion-text>
  </ion-item>
  <ion-item lines="none" class="list">
    <ion-label>Delivered on time</ion-label>
    <ion-text slot="end">0</ion-text>
  </ion-item>
  <ion-item lines="none" class="list">
    <ion-label>Abandoned orders</ion-label>
    <ion-text slot="end">0</ion-text>
  </ion-item>
</ion-content>
